.SignUpPage{
    position: absolute;
    top: 25%;
    left: 40%;
}
.center
{
    justify-content: center;
}
.btn.btn-primary {
   margin-left: 120px;
  }
/* .form-control{
    margin-left: 40px;
} */
.loginbackgroundimage{
    width: 100vw;
    height: 100vh;
}